<div class="endorsements-gallery">
  {% assign images_sqr = site.data.endorsements-square %}
  {% for file in images_sqr %}
    <div class="img-end">
      <img class="img-end-gallery" src="/assets/endorsements-square/{{ file.path }}"/>
      <p class="img-end-text">{{ file.name }}</p>
    </div>
  {% endfor %}
  <div class="break"></div>
  {% assign images_rect = site.data.endorsements-rect %}
  {% for file in images_rect %}
    <div class="img-end">
      <img class="img-end-gallery" src="/assets/endorsements-rect/{{ file.path }}"/>
      <p class="img-end-text">{{ file.name }}</p>
    </div>
  {% endfor %}
</div>
