<header role="banner" class='site-header'>
<script src="https://kit.fontawesome.com/4a53e22b52.js" crossorigin="anonymous"></script>
<!--<link
href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
rel="stylesheet">-->
  <span class="title"><a href="/"><img alt="Ballot with checkmark"
src="/assets/uncommitted.png"> Vote Uncommitted NJ</a></span>

  <ul role="navigation" class="nav">
    <li class="dropdown nav-item">
      <span>About <i class="fa-solid fa-caret-down"></i></span>
      <div class="dropdown-content">
        <a href="/faq">ℹ️ F.A.Q</a><br>
        <a href="/principles">✊ Core Principles</a><br>
        <a href="/press-coverage">📰 Press</a><br>
      </div>
    </li>
    <li class="dropdown nav-item">
      <span>Get Involved <i class="fa-solid fa-caret-down"></i></span>
      <div class="dropdown-content">
        <a href="/action">🚨 Action Kit</a><br>
        <a href="/pledge">📝 Take the pledge!</a><br>
        <a href="/calendar">📅 Events</a><br>
        <a href="https://volunteeruncommittednj.carrd.co">🌹 Volunteer</a><br>
      </div>
    </li>
    {% include nav-list-items.html %}
  </ul>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S16ZR0ELS1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-S16ZR0ELS1');
</script>
  
</header>
