<div class="dropdown">
  <span>About</span>
  <div class="dropdown-content">
    <a href="/faq">F.A>Q</a><br>
    <a href="/principles">Core Principles</a><br>
    <a href="/press-coverage">Press</a><br>
  </div>
</div>
  <div class="dropdown">
  <span>Get Involved</span>
  <div class="dropdown-content">
    <a href="/action">🚨 Download Action Kit</a><br>
    <a href="/pledge">📝 Take the pledge!</a><br>
    <a href="/calendar">📅 Events</a><br>
    <a href="https://volunteeruncommittednj.carrd.co">🌹 Volunteer</a><br>
  </div>
</div>
<br>
<br>
<li class="nav-item"><a href="https://www.facebook.com/profile.php?id=61557751538139&mibextid=PlNXYD"><i class="fa-brands fa-facebook"></i></a></li>
<li class="nav-item"><a href="https://www.instagram.com/uncommittednj"><i class="fa-brands fa-instagram"></i></a></li>
<li class="nav-item"><a href="https://www.tiktok.com/@uncommittednj"><i class="fa-brands fa-tiktok"></i></a></li>
<li class="nav-item"><a href="https://twitter.com/uncommittednj"><i class="fa-brands fa-twitter"></i></a></li>
