<li class="nav-item"><a href="/faq">FAQ</a></li>
<li class="nav-item"><a href="/action/">Action Kit</a></li>
<li class="nav-item"><a href="/press-coverage/">Press</a></li>
<li class="nav-item"><a href="https://www.facebook.com/profile.php?id=61557751538139&mibextid=PlNXYD"><i class="fa-brands fa-facebook"></i></a></li>
<li class="nav-item"><a href="https://www.instagram.com/uncommittednj"><i class="fa-brands fa-instagram"></i></a></li>
<li class="nav-item"><a href="https://www.tiktok.com/@uncommittednj"><i class="fa-brands fa-tiktok"></i></a></li>
<li class="nav-item"><a href="https://twitter.com/uncommittednj"><i class="fa-brands fa-twitter"></i></a></li>
