<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,500;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">

    <link rel="shortcut icon" href="/favicon.png" />

    {% feed_meta %}

    {% seo title= false %}
  </head>

  <body>
    <div class="container page">
      {% include header.html %}

      <main role="main" class="content wrapper">
        {{ content }}
      </main>

      {% include footer.html %}
    </div>
  </body>
</html>
