---
layout: default
---

<article class="post pr_post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <img class="post-image" src="{{ page.image | default: "/assets/uncommitted.png" }}" alt="{{ page.image-alt | default: "Uncommitted NJ logo" }}">

    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%A, %B %-d, %Y" | upcase }}
      </time>
      {% if page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">Contact: {{ page.author }}</span>
          {% if page.email %}
            <br/>
            <a href="mailto:{{ page.email }}" class="post-meta" itemprop="email">
              {{ page.email }}
            </a>
          {% endif %}
          {% if page.phone %}
            <br/>
            <a href="tel:1-{{ page.phone | remove: "(" | remove: ")" | replace: " ", "-" }}" class="post-meta" itemprop="phone">
              {{ page.phone }}
            </a>
          {% endif %}
        </span>
      {% endif %}
    </p>

    <h3 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

{% include content-nav.html %}
